<div class="login-wrapper">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>
          <div class="text-red-500" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
            Please provide a valid username.
          </div>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="pass" placeholder="password">
        </mat-form-field>
          <div class="text-red-500" *ngIf="loginForm.get('pass')?.invalid && (loginForm.get('pass')?.dirty || loginForm.get('pass')?.touched)">
            Please provide a valid password.
          </div>
      </mat-card-content>
      <div class="btn-box">
      <button *ngIf="!loading" mat-stroked-button color="accent" class="btn-block" (click)="submitForm()">
        Log in
      </button>
        <mat-spinner *ngIf="loading"></mat-spinner>
      </div>
    </form>
  </mat-card>
</div>
